
includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - src/
    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - autoload.php
